<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="/stylesheets/conferences.css">

<div class="container-fluid traditions-container">
    <div class="row text-white text-center title-card p-5">
        <div class="col-12">
            <h1 class="title">CONFERENCES</h1>
            <hr>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-12">
            <h2>Interested in attending an engineering conference? </h2>
            <hr class="hr-primary">
            <p>Every year we, the McMaster Engineering Society, send delegates to the following conferences. These conferences are hosted by ESSCO (the Engineering Student Societies’ Council of Ontario) or the CFES (the Canadian Federation of Engineering Students), and work to connect students from across the province, or country, that are studying engineering. </p>
            <p>Our delegations for these conferences are chosen through an application an interview process by the Delegate Selection Committee (composed of the VP External, Public Relations Coordinator(s), Chief Returning Officer, and one other MES member). Selected delegates have an opportunity to receive a 50% reimbursement for the cost of attending a closed conference by finding a way of sharing what they experienced with the McMaster Engineering Community. To find out when applications come out follow the MES on Facebook and sign up for the Conferences Mail Out
                <a target="_blank" href="http://eepurl.com/cjuX3n">here</a>. </p>
        </div>
    </div>

    <div class="row p-5">
        <% conferences.forEach(function(conference){ %>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-3 conference" conferenceid="<%= conference._id %>">
                <div class="card">
                    <img class="card-img-top" src="<%= conference.mainImage %>">
                    <div class="card-body">
                        <h3 class="card-title"><%= conference.name %></h3>
                        <hr class="hr-primary">
                        <p class="card-text"><%= conference.flavourText %></p>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="<%= conference._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title"><%= conference.name %> <span class="con-fullname">(<%= conference.fullName %>)</span></h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-6">
                                    <img class="modal-img" src="<%= conference.mainImage %>">
                                </div>
                                <div class="col-xl-12 col-lg-6">
                                    <h6 class="modal-flavour pt-3"><em><%= conference.flavourText %></em></h6>
                                    <hr>
                                    <p><%= conference.description %></p>
                                    <p><strong><i class="fas fa-calendar-alt"></i> <%= conference.date %></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pb-3 not-listed text-white">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Conference isn’t on the list?</h3>
                    <hr class="hr-tertiary">
                    <p class="card-text">Through the MES we offer an opportunity to get funding to attend conferences called the ‘Open Conference Fund’. You can apply for this funding by submitting an application to the Vice-President External’s mailbox located in the D.W. Lounge (Hatch __). The application requires filling out Appendix V on page 116 of the Policy Manual attached here and all other documentation listed. For questions, email:
                        <a class="text-white" href="mailto:vp.external@macengsociety.ca">vp.external@macengsociety.ca</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-5 con-blogs">
        <div class="col-12">
            <h1>Conference Posts</h1>
            <hr class="hr-primary">
        </div>

        <% posts.forEach(function(post){ %>
            <div class="col-lg-4 col-md-6 col-sm-12 per-post">
                <div class="card">
                    <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/posts/<%= post.image %>" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"><%= post.title %></h3>
                        <hr class="hr-primary">
                        <p><strong><%= post.author.name %> - <%= post.author.position %></strong></p>
                        <p class="card-text"><%= post.content.substring(0,100) %>...</p>
                        <a href="/posts/<%= post._id %>" class="link">Read More...</a>
                    </div>
                    <div class="card-footer text-muted"><em><%= post.created.toDateString() %></em></div>
                </div>
            </div>
        <% }); %>
    </div>

</div>

<% include ./partials/footer %>

<script type="text/javascript">
    $(".conference").click(function(){
        $("#" + this.getAttribute("conferenceid")).modal("toggle");
    });
</script>