<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

<div class="jumbotron jumbotron-fluid text-center landing-title">
	<div class="fade-in">
		<p class="lead display-5">Home of the</p>
		<h1 class="display-1" id="test">The McMaster<br>Engineering Society</h1>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/posts">View Posts</a>
			<a class="btn btn-outline-primary btn-lg">FAQ</a>
		</p>
	</div>
</div>

<div class="container-fluid">
    <div class="row text-left text-white text-left description">
        <div class="col-4">
            <!--<img class="mes-image" src="http://macengsociety.ca/wp-content/uploads/2015/08/mes_logo_white.png"></img>-->
        </div>
        <div class="col-8">
            <h1>WHO ARE WE?</h1>
            <hr>
            <p>The McMaster Engineering Society is a society comprised of undergraduate engineering 
            students at McMaster University in Hamilton, Ontario, Canada. Commonly referred to as the MES, 
            the Society was formed due to the actions of a few innovative and responsible individuals in the Fall of the year 1959. 
            This tradition of innovation and responsibility has continued to date, and as the Society continues to grow these traditions 
            promise to nurture strength and spirit in the years to come. Upon its genesis in 1959 the Society creators drafted the mission statement 
            seen below and throughout the years countless executive members have carried out this goal.</p>
            <br>
            <h4>OUR MISSION</h4>
            <p><em>The McMaster Engineering Society will foster the development of well rounded undergraduate engineering students through accessible 
            support of academics, athletics, and recreational and professional activities, while maintaining the integrity and unique traditions of 
            our faculty society.</em></p>
        </div>
    </div>
	<div class="row latest-posts pt-5 pb-5">
	    <div class="col-12">
	    <h1>LATEST POSTS</h1>
	    <hr class="hr-primary">
	    </div>
    	<% for(var i = 0; i < 3; i++){ %>
    	    <div class="col-xl-4 col-lg-4 col-md-6">
        	    <div class="card bg-dark text-white">
                    <img class="card-img" src="<%= posts[i].image %>" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title"><%= posts[i].title %></h4>
                        <p class="card-text"><%= posts[i].content.substring(0,100) %>...</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                </div>
            </div>
    	<% } %>
    	<div class="col-xl-12 text-center mt-3">
    	    <a href="/posts" class="link text-lg">View All Posts</a>
    	</div>
	</div>
	
	<div class="row mt-4 new-students text-white">
        <div class="col-6 pt-5 pl-5">
            <h1>Attention newbies!</h1>
            <p>Is this your first semester in McMaster Engineering? Fantastic! Welcome to the club, come check out all that the MES can do for you.</p>
            <a class="btn btn-outline-primary btn-lg">Start your journey!</a>
        </div>
        <div class="col-6">
        </div>
	</div>
	
	<div class="row text-center meet-teams pt-5">
        <div class="col">
            <h1>CLUBS | TEAMS | SOCIETIES</h1>
            <hr class="hr-secondary mb-5">
            <div class="card-columns">
                <% teams.forEach(function(team){ %>
                    <div class="card text-white squared">
                        <img class="card-img" src="<%= team.image %>" alt="Card image">
                        <div class="card-img-overlay">
                        <h1 class="card-title"><%= team.name %></h1>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>



<% include ./partials/footer %>