<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

<div class="jumbotron jumbotron-fluid text-center landing-title">
	<div class="fade-in">
		<p class="lead display-5">Home of the</p>
		<h1 class="display-1" id="test">McMaster<br>Engineering Society</h1>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/hatchbooking">Hatch Booking</a>
			<!--<a class="btn btn-outline-primary btn-lg text-white" href="/tryouts2019">Welcome Week Tryouts!</a>-->
		</p>
	</div>
</div>

<div class="container-fluid">
	<div class="row latest-posts p-5">
	    <div class="col-12">
	    <h1>LATEST POSTS</h1>
	    <hr class="hr-primary mb-5">
	    </div>
    	<% for(var i = 0; i < Math.min(3, posts.length); i++){ %>
    	    <div class="col-xl-4 col-lg-4 col-md-6">
        	    <div class="card bg-dark text-white">
                    <img class="card-img" src="https://s3.us-east-2.amazonaws.com/mes-website-assets/images/posts/<%= posts[i].image %>" alt="Card image">
                    <div class="card-img-overlay">
                        <h3 class="card-title"><%= posts[i].title %></h3>
                        <br>
                        <p class="card-text"><%- posts[i].content.substring(0,100) %>...</p>
                        <p class="card-text"><em><%= posts[i].created.toDateString() %></em></p>
                        <a class="link" href="/posts/<%= posts[i]._id %>">Read More...</a>
                    </div>
                </div>
            </div>
    	<% } %>
    	<div class="col-xl-12 text-center mt-3">
    	    <a href="/posts" class="link text-lg">View All Posts</a>
    	</div>
	</div>
	
	<div class="row new-students text-white align-items-start p-5">
        <div class="col-6">
            <h1>Attention newbies!</h1>
            <p>Still looking to get involved in McMaster Engineering? Fantastic! Welcome to the club, come check out all that the MES can do for you.</p>
            <a class="btn btn-outline-primary btn-lg text-white" href="/teams">Start your journey!</a>
        </div>
        <div class="col-6">
        </div>
	</div>

    <!--<div class="row mec-info align-items-start p-5">-->
        <!--<div class="col-7">-->
        <!--</div>-->
        <!--<div class="col-5 pt-5">-->
            <!--<h1>MEC 2018</h1>-->
            <!--<p>Looking for a new challenge? The McMaster Engineering Competition is looking for students ready to show off their engineering skills.</p>-->
            <!--<a class="btn btn-outline-primary btn-lg " href="https://mec.macengsociety.ca">Join the Competition</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row mes-election text-white align-items-start p-5">-->
        <!--<div class="col-6">-->
            <!--<h1>Presidential Election</h1>-->
            <!--<p>Like all successful societies, democracy is key! It's time to elect our new MES President for the 2019 - 2020 year.</p>-->
            <!--<a class="btn btn-outline-primary btn-lg text-white" href="/presidential-election">See the Candidates</a>-->
        <!--</div>-->
        <!--<div class="col-6">-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row tryout-info align-items-start p-5">-->
        <!--<div class="col-7">-->
        <!--</div>-->
        <!--<div class="col-5 pt-5">-->
            <!--<h1>Welcome Week Tryouts</h1>-->
            <!--<p>Do you love engineering? Do you love welcome week? Well... It's probably best for you to tryout for the Welcome Week rep team for 2019!</p>-->
            <!--<a class="btn btn-outline-primary btn-lg " href="/tryouts2019">Tryout for the Team</a>-->
        <!--</div>-->
    <!--</div>-->
</div>



<% include ./partials/footer %>