<% include ./partials/header %>

<h1><%= post.title %></h1>
<img src="<%= post.image %>">
<p><%= post.content %></p>
<p><%= post.author %></p>
<p><%= post.created %></p>
<p><%= post.position %></p>

<% include ./partials/footer %>
